body {
  font-family: Bahnschrift, sans-serif;
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  flex-direction: column;
}

#cart-picture {
  width: 90px;
}

header {
  width: fit-content;
  font-size: xx-large;
  display: flex;
  flex-direction: column;

}

header .icon-cart {
  position: relative;
}

.quantity-icon-cart {
  height: 50px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

  .product {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;

    & img {
      height: 200px;
      width: 200px;
      border-radius: 10px;

    }

    .title {
      font-weight: 500;
      font-size: large;

    }

    .price {
      letter-spacing: 7px;
      font-size: large;
    }

    .btn-action {
      background-color: #353432;
      color: #eee;
      padding: 5px 10px;
      border-radius: 20px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
    }

    .size {
      font-size: large;
    }
  }
}

#cart {
  height: 700px;
  background-color: #353432;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 5px;
  overflow-y: scroll;
}

.cart-header {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  margin: 5px;


  .cart-title {
    color: #eee;


  }

}

#cart-bottom {
  display: flex;
  justify-content: space-between;
  color: #eeeee6;
  margin-top: auto;
  background-color: grey;
  border-radius: 5px;


  .check-out {
    background-color: grey;
    font-size: x-large;

  }

  #total-price {
    font-size: x-large;
    letter-spacing: 5px;
    padding: 10px 10px;
  }
}

select {
  border-radius: 10px;
  background-color: #eeeee6;
  border: none;
  font-size: large;
}

select:focus {
  border: none;
}

#cart-body {
  margin-top: 20px;
  height: max-content;

  .cart-item {
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: #eeeee6;
    font-size: large;
    padding: 0 0 25px;
    border-bottom: 1px solid #ccc;

    .cart-item:last-child {
      border-bottom: none;
    }


    .btn-quantity {
      border-radius: 10px;


    }

    .btn-action {
      background-color: white;
      color: black;
      padding: 5px 10px;
      border-radius: 20px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      height: 25px;
    }

    #cart-image {
      height: 10vh;
      width: 10vh;
      padding: 0 25px;
    }

    .amount {
    }

  }
}


main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#caterogize {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: fit-content;
  width: fit-content;
}

#cart-total {
  color: #eee;

}

.item-div {
  padding-left: 5%;
}

#search-bar {
  border: none;
  outline: none;
  background: lightgrey;
  border-radius: 50px;
  font-size: large;
}

.links {
  padding: 0 700px;

  .button-links {
    background-color: lightgrey;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }

  & a:link {
    text-decoration: none;
  }

  & a:visited {
    text-decoration: none;
  }

  & a:hover {
    text-decoration: none;
  }

  & a:active {
    text-decoration: none;
  }
}

.price-ranges {
  display: flex;
  align-items: baseline;
  padding: 0 150px;

  & p {
    font-size: smaller;
  }

  .price-value {
    font-size: smaller;
  }
}

h5 {
  margin: 0;
  width: fit-content;
}
