
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0.5rem;
    font-weight: bold;
}

section {
    padding: 2rem;
    text-align: center;
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    max-width: 300px;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

footer {
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
img {
width: 300px;
}
#brand-logo {
    width: 250px;
    height: 200px;

}