
body {
  width: 95vw;
  height:  75vh;
  background: #E3E7E8;
  font-family: sans-serif;
}
header {

  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
.wtos {
  text-align: center;
}

header .shopping {
  right: 40%;
  position: relative;
  text-align: right;

  & img {
    width: 50px;
  }
    & span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 70%;
    padding: 3px 10px;
  }
}

main {
  margin: 50px auto 10px;
  height: 70%;
  background-color: #F2CA3C;
  width: 100%;

}
main .modelpic img  {
  position: relative;
  margin-left: 320px;
  margin-right: auto;
  width: 30%;
  padding: 70px 0 0;

}
main .text {
  font-size: 20px;
  position: absolute;
  right: 650px;
  top: 235px;
}

main .links {
  position: absolute;
  right: 725px;
  bottom: 350px;

   & span {
    display: inline-block;
    width: 90px;
    border: 1px solid #000;
    text-align: center;
  }
}





.foot {
  margin-top: 5%;
}
table {
  padding-left: 450px;
}
 th, td {

  padding-right: 200px;
   padding-bottom: 40px;
}
 .wtos2{
  padding-left: 450px;
 }
.button-links[aria-current="page"] {
  background-color: #007BFF;
  color: #ffffff;
}