body {
  font-family: Bahnschrift, sans-serif;
  margin: 0;
  background-color: #eeeee6;
}


#cart-picture {
  width: 120px;
  height: 120px;
}


.quantity-icon-cart {
  height: 50px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

  .product {
    background-color: white;
    box-shadow: 20px 20px 20px rgba(1, 1, 1, 0.1);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    height: 300px;

    & img {
      height: 200px;
      width: 200px;
      border-radius: 10px;

    }

    .title {
      font-weight: 500;
      font-size: large;

    }

    .price {
      letter-spacing: 7px;
      font-size: large;
    }

    .btn-action {
      background-color: #353432;
      color: #eee;
      padding: 5px 10px;
      border-radius: 20px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
    }

    .size {
      font-size: large;
    }
  }
}

#cart {
  height: 700px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.cart-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 1px solid #ccc;
  padding: 10px;


  .cart-title {
    color: #333;


  }

}

#cart-bottom {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin-top: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;


  .check-out {
    background-color: #007BFF; 
  font-size: 1.2rem;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
    & a:link {
      text-decoration: none;
    }

    & a:visited {
      text-decoration: none;
    }

    & a:hover {
      text-decoration: none;
    }

    & a:active {
      text-decoration: none;
    }
  }

  #total-price {
    font-size: 1.5rem; 
    letter-spacing: 2px; 
    padding: 10px 20px;
    margin-right: 10px;
  }
}



#cart-body {
  margin-top: 20px;
  height: max-content;

  .cart-item {
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    .cart-item:last-child {
      border-bottom: none;
    }


    .btn-quantity {
      border-radius: 5px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
      margin-right: 10px;

    }

    .btn-action {
      background-color: white;
      color: #333;
      padding: 5px 10px;
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid #007BFF;
      cursor: pointer;
      height: 25px;
    }

    #cart-image {
      height: 8vh;
      width: 8vh;
    }

    .amount {
      flex-grow: 1;
    }

  }
}


main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}



#cart-total {
  color: #333;

}

.item-div {
  padding-left: 5%;
}


.button-links[aria-current="page"] {
  background-color: #007BFF;
  color: #ffffff;
}