body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header .links {
  display: flex;
  justify-content: space-around;
}

#product-container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;


  .product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .size-options {
      display: inline-block;
    }

    & img {
      width: 90%;
      filter: drop-shadow(0 50px 20px #0009);
    }

    .price {
      letter-spacing: 7px;
      font-size: large;
    }
  }
}

#cart-body {
  width: 250px;
  float: right;
  text-align: center;
  height: 100%;
  position: relative;
  border-radius: 25px;
  overflow: auto;
  padding: 20px 150px 0;


  .cart-title {
    font-weight: bold;
    margin: 20px;
    position: sticky;
    top: 0;
  }

  .cart-item {
    display: grid;
    grid-template-columns: 70px 100px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;


    .btn-quantity {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: #eee;
      color: #555;
      border-radius: 50%;
      cursor: pointer;
    }

    .btn-quantity span:nth-child(2) {
      background-color: transparent;
      color: #eee;
    }


    &:hover {
      box-shadow: 0 0 5px 5px ghostwhite inset;
    }


    & img {
      width: 100%;

    }


  }
}


.btn-action {
  background-color: #353432;
  color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px 5px #e1701a inset;
  }
}


#total-price {
  border: 1px solid dimgrey;
  background: dimgrey;
  color: white;
  font-weight: bold;
  padding: 3px 30px;
  border-radius: 25px;
}

.cart-header {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  grid-auto-rows: 70px 1fr 70px;


}

#cart-bottom {
  display: inline-block;
  grid-template-columns: repeat(2, 1fr);


  .check-out {
    background-color: #e8bc0e;
    border: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 0 5px 5px lightslategrey inset;
  }
}


.searchItem {
  .product {
    border: 1px solid black;
    width: max-content;
    text-align: center;
    display: inline-block;
    margin: 5px;
    border-radius: 25px;
  }

  & img {
    width: 300px;
    height: 380px;
    padding: 5px;
    border-radius: 25px;
  }

  & select {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: block;
  }
}

/*#cart-bottom unhidden {*/
/*  visibility: visible;*/
/*}*/

/*s*/
